body{
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.containerTitle{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(236, 234, 234);
}

h1{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8em;
}

h2{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

p,h3{
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
}